 
 
 /*CARDS*/

    /* Adjust card layout for different screen sizes */
@media screen and (max-width: 1024px) {
  .card {
      width: calc(50% - 20px); /* Two cards per row */
  }
}

@media screen and (max-width: 768px) {
  .card {
      width: calc(100% - 20px); /* Single card per row */
  }
}

/*Footer*/

/* Mobile */
@media screen and (max-width: 768px) {
  .footer-item {
      flex-basis: 100%;
  }

  .map {
      width: 100%; /* Ensure the map takes full width */
      max-width: none; /* Remove max-width to allow full responsiveness */
      aspect-ratio: 16 / 9;
      padding-left: 1rem;
      padding-right: 1rem;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-item {
      flex-basis: 50%;
  }

  .map {
      width: 100%; /* Ensure the map takes full width */
      max-width: 500px; /* Limit maximum width to 500px */
      aspect-ratio: 16 / 9;
  }
}