/*news cards and container*/

.news-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.banner {
    color: #ffffff;
    background-color: #848A98;
    padding: 0.1rem 2.5rem;
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
}
#countrySelect {
    margin-right: 10px;
    width: 150px;
    height: 40px;
    text-align: center;
    font-family: "Lato", serif, Arial;
}

#countrySelect option {
    text-align: center;
    font-family: "Lato", serif, Arial;
}

#getNewsBtn {
    background-color: #0B1953;
    color: #FFF7E0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s;
    margin-left: 10px;
}

#getNewsBtn:hover {
    background-color: #303c80;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

#newsContainer {
    margin-top: 20px;
}
  
.card {
    background-color: #FFF7E0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    margin-bottom: 20px;
    padding: 20px;
    width: calc(30% - 20px);
    display: inline-block;  
    border: 1px solid #000000;
    background-color: #fffef2;
    text-align: center;
}
  
  .card h2 {
    text-align: center;
    font-family: "Karla", sans-serif, Arial;
    font-weight: 700;
    font-style: normal;
    padding-left: 2rem;
    margin-right: 2rem;
  }
  
  .card p {
    text-align: center;
    font-family: "Lato", serif, Arial;
    font-weight: 400;
    font-style: normal;
  }

  .card a {
    color: #0004FF;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
    color: #0004FF;
}

  .card img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .card-button {
    margin-top: auto;
    text-align: center;
  }

/*OTHER CONTENT*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
  ::selection {
    color: #0004FF;
    background: rgb(255, 255, 255);
  }

/*FONTS*/
h1 {
    font-family: "Archivo Black", sans-serif, Helvetica;
    padding: 35px;
    color: #FFF7E0;
}

h2, h3, h4, h5, button {
    font-family: "Karla", sans-serif, Arial;
}

p, li, summary {
    font-family: "Lato", serif, Arial;
    font-weight: 400;
    font-style: normal;
}

/* HERO SECTION */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #c4ccdf;
  }

.hero-container {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.hero-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    text-align: center;
    color: #FFF7E0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px #0B1953;
}

/* FOOTER SECTION */
.footer-container {
    background-color: #848A98;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    color: #fff;
    justify-content: space-evenly;
    padding-top: 4rem;
}

.footer-item {
    flex-basis: 25%;
    padding: 2.5rem;
    margin-bottom: 20px;
    justify-content: center;
}

.map-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

ul {
    height: 100%;
}

.copy {
    flex-basis: 100%;
    text-align: center;
    padding: 20px;
}

/*LINK STYLES*/
li {
    list-style: none;
    color: #303c80;
    text-decoration: none;
}

.wht-link:hover {
    color: #0004ff;
}

.wht-link {
    color: #FFF7E0;
    text-decoration: none;
}

/*video*/
.vid-container {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 1150px;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
  }
  
  .video { 
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 100%;
  }